<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

<div class="header">
    <a routerLink="/profile"><img src="./../../assets/Images/Logo (1).svg" alt="" height="100%" width="110%"></a>
</div>
<div class="container">
    <a routerLink="/dashboard"><img src="../../../assets/Images/dashboard.svg" alt="" height="21px" width="21px">Dashboard</a>
    <a routerLink="/user-management"> <img src="../../../assets/Images/user.svg" alt="" height="21px" width="21px"> User management</a>
    <!-- <select style="border: none;">  
        <option value="User Management"></option>
        <option value="User Management">Brand</option>
    </select>  -->
        <!-- <select>
            <option value="brand">User management</option>
            <option value="vendor">Vendor</option>
            <option value="user">User</option>
        </select> -->
    <!-- </a> -->
    <a routerLink="/profile"><img src="../../../assets/Images/item.svg" alt="" height="21px" width="21px">Item management</a>
    <a routerLink="/profile"><img src="../../../assets/Images/transaction.svg" alt="" height="21px" width="21px">Transactions</a>
    <a routerLink="/profile"><img src="../../../assets/Images/store.svg" alt="" height="21px" width="21px">Store Set up</a>
    <a routerLink="/profile"><img src="../../../assets/Images/report.svg" alt="" height="21px" width="21px">Reports</a>
    <a routerLink="/profile"><img src="../../../assets/Images/market.svg" alt="" height="21px" width="21px">Market Groups</a>
    <a routerLink="/profile"><img src="../../../assets/Images/product.svg" alt="" height="21px" width="21px">Product Category</a>
    <a routerLink="/profile"><img src="../../../assets/Images/campaign.svg" alt="" height="21px" width="21px">Campaigns</a>
    <a routerLink="/profile"><img src="../../../assets/Images/setting.svg" alt="" height="21px" width="21px">Settings</a>
</div>

