<body>
    <div class="head">
        <h4>User Management</h4>
        <span class="fa fa-magnifying-glass"></span><input type="search" id="search_bar" placeholder="Type to search">
    </div>

    <div class="block">
        <div class="box" style="background-color: rgba(255, 208, 186, 1); color: rgba(237, 99, 35, 1);">
            <img src="../../../assets/Images/online.svg" alt="" height="58%" width="24%">
            <div class="content1">
                <p><span style="font-weight: bold;"> 30 </span> <br> Online Users</p>
            </div>
        </div>
        <div class="box" style="background-color: rgba(198, 229, 255, 1); color: rgba(47, 67, 155, 1);">
            <img src="../../../assets/Images/total.svg" alt="" height="58%" width="24%">
            <div class="content1">
                <p><span style="font-weight: bold;"> 15 </span> <br> Total Users</p>
            </div>
        </div>
        <div class="box" style="background-color: rgba(199, 255, 175, 0.65); color: rgba(106, 189, 69, 1);">
            <img src="../../../assets/Images/active.svg" alt="" height="58%" width="24%">
            <div class="content1">
                <p><span style="font-weight: bold;"> 14 </span> <br> Active Users</p>
            </div>
        </div>
        <div class="box" style="background-color: rgba(255, 187, 195, 1); color: rgba(230, 29, 53, 1);">
            <img src="../../../assets/Images/inactive.svg" alt="" height="58%" width="24%">
            <div class="content1">
                <p><span style="font-weight: bold;"> 1 </span> <br> Inactive Users</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="first">
            <h4>User Management</h4>
            <button style="margin-left: 30%;"> <span class="fa-regular fa-plus"></span> &nbsp; Create Role</button>
            <button style="margin-left: 1.5%; background-color: rgba(47, 67, 155, 1); color: white;" > <span class="fa-regular fa-plus"></span>&nbsp; Create new User</button>
        </div>
        <div class="second">
            <select>
                <option value="default">Bulk Action</option>
            </select>
            <button>Apply</button>
            <span class="fa fa-magnifying-glass"></span><input type="search" id="search_bar" placeholder="Search">
            <button>Search</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Create On</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"><input type="checkbox" checked></th>
                    <td><span style="font-weight: bold;">Edgar Yaan</span> <br> Asian Paints</td>
                    <td>edgaryaan@gmail.com</td>
                    <td>20 Jan 2022</td>
                    <td><span style="background-color:#ECFDF3; color: #027A48; padding:5% 15%; border-radius: 6px;">User</span></td>
                    <td><span class="fa-regular fa-trash-can" style="margin-right: 35%; margin-left: 7%; color: red; cursor: pointer;"></span><span class="fa fa-pen" style="color:rgba(47, 67, 155, 1); cursor:pointer;"></span></td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox" checked></th>
                    <td><span style="font-weight: bold;">Edgar Yaan</span> <br> Asian Paints</td>
                    <td>edgaryaan@gmail.com</td>
                    <td>20 Jan 2022</td>
                    <td><span style="background-color:#EEF4FF; color: #3538CD; padding:5% 15%; border-radius: 6px;">Admin</span></td>
                    <td><span class="fa-regular fa-trash-can" style="margin-right: 35%; margin-left: 7%; color: red; cursor: pointer;"></span><span class="fa fa-pen" style="color:rgba(47, 67, 155, 1); cursor:pointer;"></span></td>       
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox" checked></th>
                    <td><span style="font-weight: bold;">Edgar Yaan</span> <br> Asian Paints</td>
                    <td>edgaryaan@gmail.com</td>
                    <td>24 Jan 2022</td>
                    <td><span style="background-color:#ECFDF3; color: #027A48; padding:5% 15%; border-radius: 6px;">User</span></td>
                    <td><span class="fa-regular fa-trash-can" style="margin-right: 35%; margin-left: 7%; color: red; cursor: pointer;"></span><span class="fa fa-pen" style="color:rgba(47, 67, 155, 1); cursor:pointer;"></span></td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td><span style="font-weight: bold;">Edgar Yaan</span> <br> Asian Paints</td>
                    <td>edgaryaan@gmail.com</td>
                    <td>26 Jan 2022</td>
                    <td><span style="background-color:#EEF4FF; color: #3538CD; padding:5% 15%; border-radius: 6px;">Admin</span></td>
                    <td><span class="fa-regular fa-trash-can" style="margin-right: 35%; margin-left: 7%; color: red; cursor: pointer;"></span><span class="fa fa-pen" style="color:rgba(47, 67, 155, 1); cursor:pointer;"></span></td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox"></th>
                    <td><span style="font-weight: bold;">Edgar Yaan</span> <br> Asian Paints</td>
                    <td>edgaryaan@gmail.com</td>
                    <td>18 Jan 2022</td>
                    <td><span style="background-color:#ECFDF3; color: #027A48; padding:5% 15%; border-radius: 6px;">User</span></td>
                    <td><span class="fa-regular fa-trash-can" style="margin-right: 35%; margin-left: 7%; color: red; cursor: pointer;"></span><span class="fa fa-pen" style="color:rgba(47, 67, 155, 1); cursor:pointer;"></span></td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox" checked></th>
                    <td><span style="font-weight: bold;">Edgar Yaan</span> <br> Asian Paints</td>
                    <td>edgaryaan@gmail.com</td>
                    <td>28 Jan 2022</td>
                    <td><span style="background-color:#ECFDF3; color: #027A48; padding:5% 15%; border-radius: 6px;">User</span></td>
                    <td><span class="fa-regular fa-trash-can" style="margin-right: 35%; margin-left: 7%; color: red; cursor: pointer;"></span><span class="fa fa-pen" style="color:rgba(47, 67, 155, 1); cursor:pointer;"></span></td>
                </tr>
                <tr>
                    <th scope="row"><input type="checkbox" checked></th>
                    <td><span style="font-weight: bold;">Edgar Yaan</span> <br> Asian Paints</td>
                    <td>edgaryaan@gmail.com</td>
                    <td>16 Jan 2022</td>
                    <td><span style="background-color:#ECFDF3; color: #027A48; padding:5% 15%; border-radius: 6px;">User</span></td>
                    <td><span class="fa-regular fa-trash-can" style="margin-right: 35%; margin-left: 7%; color: red; cursor: pointer;"></span><span class="fa fa-pen" style="color:rgba(47, 67, 155, 1); cursor:pointer;"></span></td>
                </tr>
            </tbody>
        </table>
        <!-- <ngb-pagination>
            <ng-template ngbPaginationFirst>First</ng-template>
            <ng-template ngbPaginationLast>Last</ng-template>
            <ng-template ngbPaginationPrevious>Prev</ng-template>
            <ng-template ngbPaginationNext>Next</ng-template>
            <ng-template ngbPaginationEllipsis>...</ng-template>
            <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
          </ngb-pagination> -->
    </div>
</body>
