<div class="container">
    <form class="form">                   
                <div class="form-group">
                    <label for="name" class="form-label">Name </label>
                    <input type="text" placeholder="Enter your name">
                </div>   
                <div class="form-group">
                    <label for="designation" class="form-label">Designation </label>
                    <input type="text" placeholder="designation"> 
                </div>
                <div class="form-group">
                    <label for="yoe" class="form-label">Year of Experience</label>
                    <select id="yoe" >
                        <option value="Edgaar" class="form-control">less than 1</option>
                        <option value="Edgaar" class="form-control">1-2</option>
                        <option value="Edgaar" class="form-control">2-5</option>
                        <option value="Edgaar" class="form-control">5-8</option>
                        <option value="Edgaar" class="form-control">more than 8</option>
                    </select> 
                </div>
                <div class="form-group">
                    <label for="linkedin" class="form-label">LinkedIn</label>
                    <input type="text" placeholder="profile link ...">
                </div>
                <div class="form-group">
                    <label for="contact" class="form-label">Contact</label>
                    <input type="number" placeholder="98******21">
                </div>
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" placeholder="edg*****@gmail.com">
                </div>
                <div class="form-group">
                    <label for="address" class="form-label">Home Address</label>
                    <textarea name="address" cols="10" rows="2" placeholder="Enter your home address...."></textarea>
                </div>
                <div class="form-group">
                    <label for="address" class="form-label">Official Address</label>
                    <textarea name="address" cols="10" rows="2" placeholder="official address...."></textarea>
                </div>
                <button type="submit" class="btn" style="background-color: rgba(47, 67, 155, 1); color: white; border:1px solid rgba(47, 67, 155, 1); padding: 2% 6%; margin:5% 0 1% 80%;">Submit</button>
           </form>
</div>
