<body>
    <div class="head">
        <h4>Welcome to Sampley</h4>
        <span class="fa fa-magnifying-glass"></span><input type="search" id="search_bar" placeholder="Type to search">
    </div>
    
    <div class="container">
        <div class="content1">
                <div class="content">
                    <p> <img src="../../../assets/Images/brands.svg"> &nbsp;&nbsp;&nbsp;&nbsp; Brands</p>
                </div>
                <div class="content">
                    <p> <img src="../../../assets/Images/product-brand.svg"> &nbsp;&nbsp;&nbsp;&nbsp; Products</p>
                </div>
                <div class="content">
                    <p> <img src="../../../assets/Images/product-brand.svg"> &nbsp;&nbsp;&nbsp;&nbsp; Markets</p>
                </div>    
        </div>
        <div class="content2">
            <img src="../../../assets/Images/bgBanner.svg" alt="" height="100%" width="100%">
        </div>
        <div class="content3">
            <h5>Posts/Updates</h5>
            <div class="box">
                <div class="block">
                    <img src="../../../assets/Images/bg1.svg" alt="">
                    <div class="text">
                        <span style="color: rgba(47, 67, 155, 1);">Asian Paints . 19 Jan 2022</span>
                        <p style="margin-top: 3%; margin-bottom: -5%;">Asian Paints introduces <br> new shades of 2022</p>
                        
                        <div class="icon">
                            <hr style="margin-bottom: 0%;">
                            <span class="fa-regular fa-thumbs-up i"></span>
                            <span>5.2k</span>
                            <span class="fa-regular fa-thumbs-down i"></span>
                            <span>14</span>
                            <span class="fa-regular fa-comment i"></span>
                            <span>140</span>
                            <span class="fa-regular fa-paper-plane i"></span>
                        </div>
                    </div>    
                </div>
                <div class="block">
                    <img src="../../../assets/Images/bg2.svg" alt="">
                    <div class="text">
                        <span style="color: rgba(47, 67, 155, 1);">Asian Paints . 19 Jan 2022</span>
                        <p style="margin-top: 3%; margin-bottom: -5%;">Asian Paints introduces <br> new shades of 2022</p>
                        
                        <div class="icon">
                            <hr style="margin-bottom: 0%;">
                            <span class="fa-regular fa-thumbs-up i"></span>
                            <span>5.2k</span>
                            <span class="fa-regular fa-thumbs-down i"></span>
                            <span>14</span>
                            <span class="fa-regular fa-comment i"></span>
                            <span>140</span>
                            <span class="fa-regular fa-paper-plane i"></span>
                        </div>
                    </div>    
                </div>
                <div class="block">
                    <img src="../../../assets/Images/bg2.svg" alt="">
                    <div class="text">
                        <span style="color: rgba(47, 67, 155, 1);">Asian Paints . 19 Jan 2022</span>
                        <p style="margin-top: 3%; margin-bottom: -5%;">Asian Paints introduces <br> new shades of 2022</p>
                        
                        <div class="icon">
                            <hr style="margin-bottom: 0%;">
                            <span class="fa-regular fa-thumbs-up i"></span>
                            <span>5.2k</span>
                            <span class="fa-regular fa-thumbs-down i"></span>
                            <span>14</span>
                            <span class="fa-regular fa-comment i"></span>
                            <span>140</span>
                            <span class="fa-regular fa-paper-plane i"></span>
                        </div>
                    </div>    
                </div>
                <div class="block">
                    <img src="../../../assets/Images/bg4.svg" alt="">
                    <div class="text">
                        <span style="color: rgba(47, 67, 155, 1);">Asian Paints . 19 Jan 2022</span>
                        <p style="margin-top: 3%; margin-bottom: -5%;">Asian Paints introduces <br> new shades of 2022</p>
                        
                        <div class="icon">
                            <hr style="margin-bottom: 0%;">
                            <span class="fa-regular fa-thumbs-up"></span>
                            <span>5.2k</span>
                            <span class="fa-regular fa-thumbs-down"></span>
                            <span>14</span>
                            <span class="fa-regular fa-comment"></span>
                            <span>140</span>
                            <span class="fa-regular fa-paper-plane"></span>
                        </div>
                    </div>    
                </div>
            </div>
            <div class="button">
                <button style="margin-left: 75%; color: #344054;">Previous</button>
                <button>Next</button>
            </div>
        </div>
        <div class="content4">
            <h5>Products</h5>
            <div class="product">
                <div class="paints">
                    <img src="../../../assets/Images/paints.svg" alt="">
                    <h6>Lorem ipsum</h6>
                    <p>Asian paints introduces new shades of 2022 </p>
                    <h6>$15</h6>
                </div>
                <div class="paints">
                    <img src="../../../assets/Images/paints.svg" alt="">
                    <h6>Lorem ipsum</h6>
                    <p>Asian paints introduces new shades of 2022 </p>
                    <h6>$15</h6>
                </div>
                <div class="paints">
                    <img src="../../../assets/Images/paints.svg" alt="">
                    <h6>Lorem ipsum</h6>
                    <p>Asian paints introduces new shades of 2022 </p>
                    <h6>$15</h6>
                </div>
                <div class="paints">
                    <img src="../../../assets/Images/paints.svg" alt="">
                    <h6>Lorem ipsum</h6>
                    <p>Asian paints introduces new shades of 2022 </p>
                    <h6>$15</h6>
                </div>
            </div>
            <div class="button">
                <button style="margin-left: 75%; color: #344054;">Previous</button>
                <button>Next</button>
            </div>
        </div>
    </div>
</body>

