<body>
    <div class="head">
        <h4>Welcome to Sampley</h4>
        <span class="fa fa-magnifying-glass"></span><input type="search" id="search_bar" placeholder="Type to search">
    </div>
    
    <div class="container">
        <div class="content1">
                <div class="content" style="border: 2px solid rgba(47, 67, 155, 1);">
                    <p> <img src="../../../assets/Images/brands.svg"> &nbsp;&nbsp;&nbsp;&nbsp; Brands</p>
                </div>
                <div class="content">
                    <p> <img src="../../../assets/Images/product-brand.svg"> &nbsp;&nbsp;&nbsp;&nbsp; Products</p>
                </div>
                <div class="content">
                    <p> <img src="../../../assets/Images/product-brand.svg"> &nbsp;&nbsp;&nbsp;&nbsp; Markets</p>
                </div>    
        </div>
        <div class="content2">
            <h5>Brands you follow</h5>
            <div class="company">
                <img src="../../../../assets/Images/spotify.svg" alt="">
                <img src="../../../../assets/Images/spotify.svg" alt="">
                <img src="../../../../assets/Images/spotify.svg" alt="">
                <img src="../../../../assets/Images/spotify.svg" alt="">
                <img src="../../../../assets/Images/spotify.svg" alt="">
                <img src="../../../../assets/Images/spotify.svg" alt="">
            </div>
        </div>
        <div class="content3">
                    <h5>Select Brand</h5>
                    <div class="keyboard">
                        <div class="block">
                            <p>Spotify <span class="fa fa-xmark"></span></p>
                            <p>Pedigree <span class="fa fa-xmark"></span></p>
                            <p>Pedigree <span class="fa fa-xmark"></span></p>
                            <p>Asian Paints <span class="fa fa-xmark"></span></p>
                            <p>Fair & lovely <span class="fa fa-xmark"></span></p>
                            <p>Spotify <span class="fa fa-xmark"></span></p>
                        </div>
                        <div class="button">
                            <button>A</button>
                            <button>B</button><button>C</button>
                            <button>D</button><button>E</button>
                            <button>F</button><button>G</button>
                            <button>H</button><button>I</button>
                            <button>J</button><button>K</button>
                            <button>L</button><button>M</button>
                            <button>N</button><button>O</button>
                            <button>P</button><button>Q</button>
                            <button>R</button><button>S</button>
                            <button>T</button><button>U</button>
                            <button>V</button><button>W</button>
                            <button style="margin-left: 25% ;">X</button><button>Y</button>
                            <button>Z</button><button>0</button>
                            <button>1</button><button>2</button>
                            <button>3</button><button>4</button>
                            <button>5</button><button>6</button>
                            <button>7</button><button>8</button>
                            <button>9</button>
                        </div>  
                        <hr style="color: rgba(47, 67, 155, 1); margin: 3% 0%;">
                        <div class="company">
                            <img src="../../../../assets/Images/spotify.svg" alt="">
                            <img src="../../../../assets/Images/spotify.svg" alt="">
                            <img src="../../../../assets/Images/slack.svg" alt="">
                            <img src="../../../../assets/Images/slack.svg" alt="">
                            <img src="../../../../assets/Images/spotify.svg" alt="">
                            <img src="../../../../assets/Images/spotify.svg" alt="">
                        </div>
                        <div style="display: flex;">
                            <button type="submit" class="btn" style="color: rgba(47, 67, 155, 1); border:1px solid rgba(47, 67, 155, 1); padding: 0% 8%; margin:5% 0 1% 43%;">Discard</button>
                            <button type="submit" class="btn" style="background-color: rgba(47, 67, 155, 1); color: white; border:1px solid rgba(47, 67, 155, 1); padding: 2% 6%; margin:5% 0 1% 3%;">Save Changes</button>
                        </div>
                    </div>  
                
        </div>
    </div>
</body>
