<body>
    <div class="box">
        <span class="fa-regular fa-bell"></span>
        <img src="./../../../assets/Images/profile.svg" alt="">
        <p>edgar yaan <br> developer.</p>
    </div>
    <select style="border: none;">
        <option value="April">March</option>
        <option value="April">April</option>
        <option value="April">May</option>
        <option value="April">June</option>
        <option value="April">July</option>
        <option value="April">August</option>
        <option value="April">September</option>
        <option value="April">October</option>
        <option value="April">November</option>
        <option value="April">December</option>
        <option value="April">January</option>
        <option value="April">February</option>
    </select>
    <div class="calender">
        <div class="month">
        Mon <br> <span> 9 </span>
        </div>
        <div class="month">
        Tue <br> <span> 10 </span>
        </div>
        <div class="month">
          <p style="background-color:rgba(0, 145, 214, 1); color:white; border-radius:30px; padding: 35% 24%; width: 145%; height: 100%; margin-top: -35% ; margin-left: -20%;"> Wed <br> <span style="color: white; margin-left: 25%;">11</span>  </p>
        </div>
        <div class="month">
        Thu <br> <span> 12 </span>
        </div>
        <div class="month">
        Fri <br> <span> 13 </span>
        </div>
        <div class="month">
        Sat <br> <span> 14 </span>
        </div>
        <div class="month">
        Sun <br> <span> 15 </span>
        </div>
    </div>
    <div class="box1">
        <p style="font-weight: bold;">Lorem, ipsum dolor.</p>
        <p>9:00AM - 11:30AM</p>
        <p>Lorem, ipsum dolor.</p>
        <hr>
        <img src="../../../assets/Images/Team.svg" alt="" >
        <div class="square">
            <span class="fa-regular fa-greater-than"></span>
        </div>
    </div>
    <div class="box2">
        <div class="icon">
            <span class="fa-regular fa-plus"></span>
        </div>
        <span class="text">Add Brand Users</span>
    </div>
    <div class="box3">
        <div class="icon">
            <span class="fa-regular fa-plus"></span>
        </div>
        <span class="text"> Add Samples</span>
    </div>
    <div class="box4">
        <div class="icon">
            <span class="fa-regular fa-plus"></span>
        </div>
        <span class="text"> Add Vendors</span>
    </div>
</body>

