<body>
    
    <div class="box">
        <span class="fa-regular fa-bell"></span>
        <img src="./../../../assets/Images/profile.svg" alt="">
        <p>edgar yaan <br> developer.</p>
    </div>
    <div class="heading">
        <h5 style="font-weight: bold;">Invitation from Brand</h5>
        <p>Lorem ipsum dolor sit amet consectetur.</p>
    </div>
    <hr>
    <div class="accounts">
        <div class="mail">
            <img src="../../../assets/Images/1.svg" alt="" width="47.26px" height="47.26px">
            <div class="data">
                <h6>Jenny Wilson</h6>
                <div style="display: flex;">
                    <button class="btn btn-md" style="background-color: rgba(47, 67, 155, 1); color:white; padding:2% 18% 3% 18%;">Accept</button>
                    <button class="btn btn-md" style="border: 2px solid rgba(47, 67, 155, 1); color:rgba(47, 67, 155, 1); margin-left:6%; padding: 0 18%;">Decline</button>
                </div>
            </div>
        </div>
        <div class="mail">
            <img src="../../../assets/Images/2.svg" alt="" width="47.26px" height="47.26px">
            <div class="data">
                <h6>Devon Lane</h6>
                <div style="display: flex;">
                    <button class="btn btn-md" style="background-color: rgba(47, 67, 155, 1); color:white; padding:2% 18% 3% 18%;">Accept</button>
                    <button class="btn btn-md" style="border: 2px solid rgba(47, 67, 155, 1); color:rgba(47, 67, 155, 1); margin-left:6%; padding: 0 18%;">Decline</button>
                </div>
            </div>
        </div>
        <div class="mail">
            <img src="../../../assets/Images/3.svg" alt="" width="47.26px" height="47.26px">
            <div class="data">
                <h6>Jane Cooper</h6>
                <div style="display: flex;">
                    <button class="btn btn-md" style="background-color: rgba(47, 67, 155, 1); color:white; padding:2% 18% 3% 18%;">Accept</button>
                    <button class="btn btn-md" style="border: 2px solid rgba(47, 67, 155, 1); color:rgba(47, 67, 155, 1); margin-left:6%; padding: 0 18%;">Decline</button>
                </div>
            </div>
        </div>
        <div class="mail">
            <img src="../../../assets/Images/4.svg" alt="" width="47.26px" height="47.26px">
            <div class="data">
                <h6>Dianne Russell</h6>
                <div style="display: flex;">
                    <button class="btn btn-md" style="background-color: rgba(47, 67, 155, 1); color:white; padding:2% 18% 3% 18%;">Accept</button>
                    <button class="btn btn-md" style="border: 2px solid rgba(47, 67, 155, 1); color:rgba(47, 67, 155, 1); margin-left:6%; padding: 0 18%;">Decline</button>
                </div>
            </div>
        </div>
        <div class="mail">
            <img src="../../../assets/Images/3.svg" alt="" width="47.26px" height="47.26px">
            <div class="data">
                <h6>Jane Cooper</h6>
                <div style="display: flex;">
                    <button class="btn btn-md" style="background-color: rgba(47, 67, 155, 1); color:white; padding:2% 18% 3% 18%;">Accept</button>
                    <button class="btn btn-md" style="border: 2px solid rgba(47, 67, 155, 1); color:rgba(47, 67, 155, 1); margin-left:6%; padding: 0 18%;">Decline</button>
                </div>
            </div>
        </div>
    </div>
</body>
