<div class="container">
    <form class="form">                   
                <div class="form-group">
                    <label for="name" class="form-label">Name of Organization </label>
                    <input type="text" placeholder="Organization name">
                </div>   
                <div class="form-group">
                    <label for="type" class="form-label">Type of Organization </label>
                    <select id="type" >
                        <option value="Public" class="form-control">Public</option>
                        <option value="Private" class="form-control">Private</option>
                        <option value="Gov" class="form-control">Gov.</option>
                        <option value="Others" class="form-control">Others</option>
                    </select> 
                </div>
                <div class="form-group">
                    <label for="tob" class="form-label">Type of Business</label>
                    <select id="tob" >
                        <option value="manufacturer" class="form-control">Manufacturer & Marketed</option>
                        <option value="Brand Owner" class="form-control">Brand Owner (Marketed)</option>
                        <option value="Private label" class="form-control">Private Label</option>
                        <option value="Others" class="form-control">Others</option>
                    </select> 
                </div>
                <div class="form-group">
                    <label for="contact" class="form-label">Number of Employee</label>
                    <select id="noe" >
                        <option value="0-10" class="form-control">0-10</option>
                        <option value="11-100" class="form-control">11-100</option>
                        <option value="101-1000" class="form-control">101-1000</option>
                        <option value="1001-10000" class="form-control">1001-10000</option>
                        <option value="10000+" class="form-control">10000+</option>
                    </select> 
                </div>
                <div class="form-group">
                    <label for="linkedin" class="form-label">Overview of Company</label>
                    <textarea placeholder="Brief description..."></textarea>
                </div>
                <div class="form-group">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" placeholder="edg*****@gmail.com">
                </div>
                <div class="form-group">
                    <label for="address" class="form-label">Home Address</label>
                    <textarea name="address" cols="10" rows="2" placeholder="Enter your home address...."></textarea>
                </div>
                <div class="form-group">
                    <label for="address" class="form-label">Official Address</label>
                    <textarea name="address" cols="10" rows="2" placeholder="official address...."></textarea>
                </div>
                <button type="submit" class="btn" style="background-color: rgba(47, 67, 155, 1); color: white; border:1px solid rgba(47, 67, 155, 1); padding: 2% 6%; margin:5% 0 1% 80%;">Submit</button>
           </form>
</div>
